<style>
  .my-button {
    /*  display: inline-block;*/
    /*border: 2px solid #cda45e;*/
    /*!*background-color: #cda45e; !* Gold color *!*!*/
    /*color: #fff;  !* White text color *!*/
    /*padding: 10px 20px;  !* Adjust padding for desired size *!*/
    /*border-radius: 5px;  !* Rounded corners *!*/
    /*cursor: pointer;  !* Indicates interactive element on hover *!*/
    /*transition: background-color 0.3s ease;
    !* Transition for hover effect *!*/
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    background-color: #0c0b09;
    border: 2px solid #cda45e;
    left: -50px;
    transform: translateX(400%);

  }

  .my-button:hover {
    background-color: #cda45e;
    color: #fff;/* Lighter gold on hover */
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .allign{
    align-self: center;
    max-width: 250px;
  }
</style><br><br><br><br><br><br><br>
<h2 class="container">Book has not been deleted</h2><br>
<button routerLink="/adminhome" class="my-button ">Back to Books List</button><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

